openapi: 3.0.1
info:
  title: umd.io bus professors API
  description: 'Welcome to umd.io, the open-source API for University of Maryland data. If you are building a University data-focused app, hack, or project, you’re in the right place. This site will walk you through basic API use and document all supported API calls.


    umd.io is a GETful API. It follows RESTful conventions, but for now, you can only get data – you can’t create, update, or destroy.


    We''re now in version 1! We might add new endpoints or more data to existing responses, but we won''t remove anything without a major version change.


    If you''re looking for the v0 docs, you can find them at https://docs.umd.io/. Please note that v0 is deprecated. It will continue to be supported until at least 2021, but will get no further feature updates, and will eventually be discontinued.


    We are actively looking for contributors! Tweet, email, or otherwise get in touch with us.'
  contact:
    email: hi@umd.io
  license:
    name: MIT
    url: https://github.com/umdio/umdio/blob/master/LICENSE
  version: 1.0.0 Beta
servers:
- url: https://api.umd.io/v1
tags:
- name: professors
  description: This endpoint contains information about university professors and the courses they have taught.
paths:
  /professors:
    get:
      tags:
      - professors
      summary: List professors
      description: Returns list of all professors
      operationId: getProfessors
      parameters:
      - $ref: '#/components/parameters/nameParam'
      - $ref: '#/components/parameters/courseIdParam'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Professor'
        '400':
          description: Malformed query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No Professors Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    courseIdParam:
      in: query
      name: course_id
      schema:
        type: string
      description: 7 or 8 digit course id. See the course object for more info.
      example: CMSC216
    nameParam:
      in: query
      name: name
      schema:
        type: string
      description: Professor's name.
      example: Aaron Bartlett
  schemas:
    Professor:
      type: object
      description: Represents a professor
      properties:
        name:
          type: string
          description: Professor's name on Testudo
          example: Aaron Bartlett
        taught:
          type: array
          description: An array of courses taught, along with the semester they were taught
          items:
            type: object
            properties:
              semester:
                type: integer
                example: 202001
              course:
                type: string
                example: ENGL101
    Error:
      type: object
      description: Represents an HTTP error
      properties:
        error_code:
          type: number
        message:
          type: string
        docs:
          type: string
externalDocs:
  description: Github
  url: https://github.com/umdio/umdio
